{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
{% block login %}
<div class="container">
	<form action="/auth/login/" method="post">
        {% csrf_token %}
		<h1>Войти</h1>
		<p>
			<label for="username">Имя пользователя</label>
			<input type="text"  name="username" id="username" placeholder="Username" class="form-control" required autofocus>
		</p>

		<p>
			<label for="password" class="sr-only">Password</label>
			<input type="password"  name="password" id="password" placeholder="Password" class="form-control" required>
		</p>
         {% if login_error %}
                <label class="error">{{ login_error }}</label>
         {% endif %}
        <button type="submit" class="btn btn-primary btn-block">Войти </button>
        <div class="label round secondary"><a href="/auth/register/">Регистрация</a></div>
	</form>
</div>
{% endblock %}